<a href="https://colab.research.google.com/github/jon890613/Interim_report/blob/main/Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!wget https://raw.githubusercontent.com/BrambleXu/pydata-notebook/master/datasets/movielens/movies.dat

--2020-11-10 10:45:57--  https://raw.githubusercontent.com/BrambleXu/pydata-notebook/master/datasets/movielens/movies.dat
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 171308 (167K) [text/plain]
Saving to: ‘movies.dat’

movies.dat          100%[===================>] 167.29K  --.-KB/s    in 0.06s

2020-11-10 10:45:57 (2.64 MB/s) - ‘movies.dat’ saved [171308/171308]

In [3]:
!wget https://raw.githubusercontent.com/BrambleXu/pydata-notebook/master/datasets/movielens/users.dat

--2020-11-10 10:46:53--  https://raw.githubusercontent.com/BrambleXu/pydata-notebook/master/datasets/movielens/users.dat
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 134368 (131K) [text/plain]
Saving to: ‘users.dat’

users.dat           100%[===================>] 131.22K  --.-KB/s    in 0.04s

2020-11-10 10:46:54 (3.23 MB/s) - ‘users.dat’ saved [134368/134368]

In [4]:
!wget https://raw.githubusercontent.com/BrambleXu/pydata-notebook/master/datasets/movielens/ratings.dat

--2020-11-10 10:47:29--  https://raw.githubusercontent.com/BrambleXu/pydata-notebook/master/datasets/movielens/ratings.dat
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 24594131 (23M) [text/plain]
Saving to: ‘ratings.dat’

ratings.dat         100%[===================>]  23.45M  33.1MB/s    in 0.7s

2020-11-10 10:47:31 (33.1 MB/s) - ‘ratings.dat’ saved [24594131/24594131]

In [16]:
import pandas as pd
unames = ['user_id', 'gender', 'age', 'occupation', 'zip']

users = pd.read_table('users.dat', sep='::', header=None, names=unames, engine='python')

In [21]:
rnames = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_table('ratings.dat', sep='::', header=None, names=rnames, engine='python')

In [18]:
mnames = ['movie_id', 'title', 'genres']
movies = pd.read_table('movies.dat', sep='::', header=None, names=mnames, engine='python')

In [19]:
users[:5]

   user_id gender  age  occupation    zip
0        1      F    1          10  48067
1        2      M   56          16  70072
2        3      M   25          15  55117
3        4      M   45           7  02460
4        5      M   25          20  55455

In [22]:
ratings[:5]

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [23]:
movies[:5]

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy