<a href="https://colab.research.google.com/github/jon890613/Interim_report/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
import pandas as pd
import numpy as np

In [34]:
data = pd.Series(np.random.randn(9),
          index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
          [1, 2, 3, 1, 3, 1, 2, 2, 3]])
print(data)

a  1    0.008616
   2    0.589386
   3    1.406894
b  1    0.399361
   3   -0.787890
c  1    1.565233
   2   -0.650695
d  2    0.580990
   3    0.242104
dtype: float64

In [35]:
!wget https://raw.githubusercontent.com/wesm/pydata-book/2nd-edition/datasets/fec/P00000001-ALL.csv

--2020-11-04 02:43:15--  https://raw.githubusercontent.com/wesm/pydata-book/2nd-edition/datasets/fec/P00000001-ALL.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 157871393 (151M) [text/plain]
Saving to: ‘P00000001-ALL.csv.2’

P00000001-ALL.csv.2 100%[===================>] 150.56M   141MB/s    in 1.1s

2020-11-04 02:43:16 (141 MB/s) - ‘P00000001-ALL.csv.2’ saved [157871393/157871393]

In [37]:
pd.options.display.max_rows = 10
fec = pd.read_csv('P00000001-ALL.csv', low_memory=False)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [39]:
fec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001731 entries, 0 to 1001730
Data columns (total 16 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   cmte_id            1001731 non-null  object
 1   cand_id            1001731 non-null  object
 2   cand_nm            1001731 non-null  object
 3   contbr_nm          1001731 non-null  object
 4   contbr_city        1001712 non-null  object
 5   contbr_st          1001727 non-null  object
 6   contbr_zip         1001620 non-null  object
 7   contbr_employer    988002 non-null   object
 8   contbr_occupation  993301 non-null   object
 9   contb_receipt_amt  1001731 non-null  float64
 10  contb_receipt_dt   1001731 non-null  object
 11  receipt_desc       14166 non-null    object
 12  memo_cd            92482 non-null    object
 13  memo_text          97770 non-null    object
 14  form_tp            1001731 non-null  object
 15  file_num           1001731 non-null  int64
dtypes: float64(1), int64(1), object(14)
memory usage: 122.3+ MB

In [44]:
fec.head()

,cmte_id,cand_id,cand_nm,contbr_nm,contbr_city,...,receipt_desc,memo_cd,memo_text,form_tp,file_num
0,C00410118,P20002978,"Bachmann, Michelle","HARVEY, WILLIAM",MOBILE,...,NaN,NaN,NaN,SA17A,736166
1,C00410118,P20002978,"Bachmann, Michelle","HARVEY, WILLIAM",MOBILE,...,NaN,NaN,NaN,SA17A,736166
2,C00410118,P20002978,"Bachmann, Michelle","SMITH, LANIER",LANETT,...,NaN,NaN,NaN,SA17A,749073
3,C00410118,P20002978,"Bachmann, Michelle","BLEVINS, DARONDA",PIGGOTT,...,NaN,NaN,NaN,SA17A,749073
4,C00410118,P20002978,"Bachmann, Michelle","WARDENBURG, HAROLD",HOT SPRINGS NATION,...,NaN,NaN,NaN,SA17A,736166

In [42]:
fec.iloc[235]

cmte_id                  C00410118
cand_id                  P20002978
cand_nm         Bachmann, Michelle
contbr_nm             LANE, MARCIA
contbr_city               COLUMBUS
                       ...
receipt_desc                   NaN
memo_cd                        NaN
memo_text                      NaN
form_tp                      SA17A
file_num                    736166
Name: 235, Length: 16, dtype: object

In [43]:
unique_cands = fec.cand_nm.unique() 
print(unique_cands)

['Bachmann, Michelle' 'Romney, Mitt' 'Obama, Barack'
 "Roemer, Charles E. 'Buddy' III" 'Pawlenty, Timothy' 'Johnson, Gary Earl'
 'Paul, Ron' 'Santorum, Rick' 'Cain, Herman' 'Gingrich, Newt'
 'McCotter, Thaddeus G' 'Huntsman, Jon' 'Perry, Rick']